{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex flex-wrap justify-content-around align-items-center p-5">
    <div class="row">
        <div class="col-md d-flex align-items-center">
            <img class="img img-fluid mb-4 ms-md-5" width="350px" src="{% static 'images/erythrocytes.svg' %}" alt="erythrocytes">
        </div>  
        <div class="col">
            <div class="text-danger text-center container-fluid">
                <h1>Blood is meant to be circulated</h1>
                <h1>Pass it around</h1>
                <h1>Help others</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illum, ut molestiae error dignissimos cum fugiat. Tempora nostrum et assumenda saepe iusto voluptates soluta, cum voluptas, neque maiores nisi illum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae, alias maiores, excepturi architecto nostrum perspiciatis dignissimos, illo praesentium qui atque accusantium voluptates! Velit amet consequatur laborum quisquam molestiae tempora.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quia quas, eveniet odio ducimus consequatur quo voluptas deleniti harum nisi cumque amet tenetur facere quasi deserunt odit. Distinctio, nisi saepe.</p>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock content %}